<select class="form-control" #t  (change)="getByAcronym(t.value)">
  <option  >Select Offer..</option>
  <option *ngFor="let offer of subs" value="{{offer.acronym}}">{{offer.acronym}}</option>
</select>
<div class="row" *ngIf="show">
<mat-card class="card col-6 mr-4 p-0 " >
  <mat-card-header class="card-header align-items-center   text-center " style="background-color: #ff0440; color: white">
    <h4  class=" text-uppercase offset-2">List of Candidates</h4>
  </mat-card-header>
  <mat-card-content >
<table class="table" >
  <thead>
  <tr >

    <th scope="col">name</th>
    <th scope="col">date</th>
    <th scope="col">Score</th>
    <th scope="col">status</th>

  </tr>
  </thead>
  <tbody >
  <tr *ngFor="let candidate of condidates;let i = index;">
    <td> <a routerLink="/dash/application/{{acronym}}/{{candidate.id}}">{{candidate.condidat.firstName}} {{candidate.condidat.lastName}}</a></td>
    <td>{{candidate.registeredAt|date}}</td>
    <td>{{candidate.score}}</td>
    <td> <input type="radio" class=""  (change)="update(candidate)" value="In_progress" [(ngModel)]="candidate.status" name="status{{i}}"> In Progress
      <input type="radio" class="" (change)="update(candidate)" value="selected" [(ngModel)]="candidate.status" name="status{{i}}"> selected</td>



  </tr></tbody></table>
  </mat-card-content>
</mat-card>
  <div class="col-4 card offset-1">
    <div class="card-title m-2 text-center ">
    <h4>Recommended Candidate</h4>
      <hr>
    </div>
    <table class="table">
      <thead>
      <tr>

        <th scope="col">name</th>
        <th scope="col">date</th>
        <th scope="col">Score</th>
        <th scope="col">status</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let candidate of condidates">

<ng-template [ngIf]="candidate.condidat.recommended">
        <td> <a routerLink="/user/{{candidate.condidat.userId}}">{{candidate.condidat.firstName}} {{candidate.condidat.lastName}}</a></td>
  <td>{{candidate.registeredAt|date}}</td>
  <td>{{candidate.score}}</td>
  <td>{{candidate.status}}</td>
</ng-template>

      </tr></tbody></table>
  </div>
</div>
