<style>

</style>

<div class=" main h-100 w-100">
  <div class="container h-100 w-75 d-flex align-items-center justify-content-center">
    <!-- Block gauche-->
    <div class="text-center mt-4 mr-0 align-items-center" id="login">
      <div class="row h-25"></div>
      <div class="h-50 align-items-center justify-content-center" id="signup">
        <p class="h6"><a routerLink="/plan/signup">Sign up</a></p><br>
        <div class=" row  d-flex align-items-center justify-content-center w-100 " id="dn">
          <hr class="col-sm col-xs-4 bg-light ml-3" id="T1">
          <h5 class=" col-sm col-xs-4"  id="Z">Or</h5><br>
          <hr class="col-sm col-xs-4 bg-light mr-3" id="T2">
        </div><br>
        <p class="h6"><a routerLink="/plan/login">Log in</a></p>
      </div>


    </div>

    <div class="d-flex mt-3    justify-content-center align-items-center " id="contwhite">


        <router-outlet></router-outlet>
        </div>





    </div>




  </div>

