
.I1{
  height: 380px;
}
.I2{
  height: 380px;
}
.IC1{
  position: relative;
  bottom: 0px;
  height: 120px;
  width: 100px;
  left: 50px;

}
.IC2{
  position: relative;
  bottom: 0px;
  height: 120px;
  width: 100px;
  left: 50px;
}
.IC3{
  position: relative;
  bottom: 0px;
  height: 120px;
  width: 100px;
  left: 90px;
}
.h2{
  position: relative;
  top: -30px;
  font-size: 1.75rem;
  font-weight: bold;
}
.card-text{
  position: relative;
  top: -30px;
  font-size: 15px;
  line-height: 25px;
}
.btn{
  position: relative;
  top: -30px;
  background-color: white;
  color: white;
  font-size: 15px;
  font-weight: 300;
  border-radius: 5px;
  width: 110px;
}
.card{
  border-radius: 18px;
  margin-top: 100px;
  box-shadow: 0px 10px 30px -8px rgb(0 0 0 / 40%);
}
.card-title{
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}
.card1{
  border-radius: 18px;
  margin-top: 100px;
}

.img1{
  width: 335px;
  height: 200px;
  bottom: 20px;
  position: relative;
}
.cs1{
  position: relative;

}
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
  -moz-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.badgeC{
  position: absolute;
  z-index: 1000;
  width: 70px;
  text-decoration: blink;
  margin-top: -7px;
  margin-left: -60px;
  background: #ff0440;
  color: white;
  font-size: 16px;
  animation: Test 2s infinite;
}

@keyframes Test{
  0%{opacity: 1;}
  50%{opacity: 0;}
  100%{opacity: 1;}
}
.badgecs{
  position: absolute;
  width: 70px;
  top: 5px;
  left: 5px;
  background: #2a57e9;
  color: white;
  font-size: 16px;
}
.example-card {

  cursor: pointer;

}

.example-car d:hover{
 position: relative;
transform: translate3d(1,2,0);

}



.bod{
  background-image: url(src/assets/pexels-magda-ehlers-2549156.jpg);
  height: 750px;
  width: 100%;
  margin :0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}
