
<div class="bod">
<div class="container ">
  <!--Carousel Wrapper-->
  <div id="multi-item-example " class="carousel slide carousel-multi-item row " data-ride="carousel">

    <div class="carousel-inner   "  role="listbox">

      <!--First slide-->
      <div class="carousel-item col-8  offset-3 mb-1   " [class.active]="isfirst"  *ngFor="let item of offre1  ;
                                          let i = index ;
                                          first  as isfirst ;
                                          event as isevent;
                                          last as islast;
                                          odd as isodd"
                                          style="height: 520px; ">

        <mat-card class="example-card bg-white mt-3  h-100 w-50 shadow " style="  border-radius: 5px 5px 30px 30px;">

          <img mat-card-image src="{{'http://localhost:8081/offre/Imgarticles/'+item[11]}}" style="  height: 200px;" alt="Photo of a Shiba Inu">
          <span class="badgeC text-center rounded">New</span>
          <mat-card-content >
            <mat-card-title  class="offset-4  "> {{item[5] |date}} </mat-card-title>
            <h3 class="text-center m-1" style="color: #00465F;overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;">
              {{item[1]}}    </h3>
            <mat-card-title  class="offset-4 m-3 text-center text-wrap text-break text-uppercase "> {{item[10] }} </mat-card-title>
            <br><br>
          </mat-card-content>
       <mat-card-actions  >

            <button class=" offset-4  btn " style="background-color: #ff0440" routerLink="/offre/{{item[0]}}/{{item[10]}}" > Explore</button>
       </mat-card-actions>
        </mat-card>


      </div>
      <!--/.First slide-->



    </div>
    <!--/.Slides-->

  </div>
  <!--/.Carousel Wrapper-->
</div>
</div>

<!--Card-->
<div class="bg-light h-75 row d-flex justify-content-center">
  <div class="card mr-5 justify-content-center  p-3 mb-5  h-75" style="width: 21rem;background-color: #178da9;">
    <img src="/assets/Intern%20Abroad.png" class="card-img-top ml-5 IC1" alt="...">
    <div class="card-body text-center">
      <p class="card-title h2 mt-5" id="IA" style="color: white">Intern<br> abroad</p>
      <p class="card-text" style="font-weight: lighter;">Find an internship abroad and gain invaluable experience.
      </p>
      <a routerLink="/off/cat/intership" class="btn mt-3" style="color: #178da9">Explore</a>
    </div>
  </div>
  <div class="card justify-content-center p-3 mb-5  h-75" style="width: 21rem;background-color: #178da9;">
    <img src="/assets/Study%20Abroad.png" class="card-img-top ml-5 IC2 " alt="...">
    <div class="card-body text-center">
      <p class="card-title h2 mt-5 " style="color: white">Study<br> abroad</p>
      <p class="card-text" style="font-weight: lighter;">Find the best capstone project abroad program for you.
      </p>
      <a routerLink="/off/cat/study" class="btn mt-3" style="color: #178da9">Explore</a>
    </div>
  </div>
  <div class="card ml-5 justify-content-center p-3 mb-5 h-75" style="width: 21rem;background-color: #178da9;">
    <img src="/assets/Volunteer%20Abroad.png" class="card-img-top IC3" alt="...">
    <div class="card-body text-center">
      <p class="card-title h2 mt-5"style="color: white">Volunteer<br> abroad</p>
      <p class="card-text" style="font-weight: lighter;">Browse top notch volunteer projects that need your
        support.</p>
      <a routerLink="/off/cat/volunteer" class="btn mt-3" style="color: #178da9">Explore</a>
    </div>
  </div>
</div>


