<div class=" main h-100 w-100">
    <div class="container h-100 w-75 d-flex align-items-center  justify-content-center">
      <!-- Block gauche-->
      <label for="file" class="uploadIcon  text-center bg-light   rounded-circle"><a > <fa-icon [icon]="faCamera" class="fa-x"></fa-icon></a></label>
      <div class="text-center align-items-center" id="login">
        <div class="h-75 mt-1 align-items-center justify-content-center" id="signup">
          <div class="wrapper"> <input type="file" id="file" accept="image/*" (change)="onSelectFile($event)" class="form-control-file" />
           <a href="#"><img class="card-img-top img-responsive  "
                             src = "{{'http://localhost:8081/condidat/img/'+con.userId}}"
                             style = "height :100px;width:100px ;border: solid 2px white"
                             alt=""></a>
           </div><br>
          <div class=" text-left ml-2" *ngIf="con.role === 3">
            <p class="h6 text-left" routerLink="/profil"><a class="text-light">Company details</a></p><br>

          </div>
          <div class=" text-left ml-2 h-100" *ngIf="con.role != 3">
            <p class="h6 text-left" routerLink="/profile/personaldetails"><a class="text-white">Personal details</a></p><br>
            <p class="h6 text-left" routerLink="/profile/education"><a class="text-white active" >Education</a></p><br>
            <p class="h6 text-left"><a routerLink="/profile/skills" class="text-white">Skills</a></p><br>
            <p class="h6 text-left"><a routerLink="/profile/experiences" class="text-white">Experience</a></p><br>
            <p class="h6 text-left"><a routerLink="/profile/job" class="text-white">Job Question</a></p><br>
            <p class="h6 text-left"><a routerLink="/profile/source" class="text-white">Source</a></p><br>
            <p class="h6 text-left"><a routerLink="/profile/documents" class="text-white">Add Documents</a></p>
          </div>
        </div>


      </div>
      <!-- block right-->
      <div class="justify-content-center align-items-center " id="contwhite" *ngIf="con.role != 3">
        <div class="container justify-content-center mr-5 h-100 w-75">
            <router-outlet></router-outlet>
        </div>
      </div>
      </div>
      </div>
