@font-face {
    font-family: 'Avenir Next LT Pro';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  *{
    font-family: 'Avenir Next LT Pro';
  }
input[type="file"]{
 display: none;


}
  #contwhite {
    background: rgba(255, 255, 255, 0.658);
    font-family: 'AvenirNextLTPro';
    height: 800px;
    width: 700px;
    margin-right: 40px;
    margin-top: 100px;


  }
  #contwhite1 {
    background: rgba(255, 255, 255, 0.658);
    font-family: 'AvenirNextLTPro';
    height: 520px;
    width: 700px;
    margin-right: 40px;
    margin-top: 5px;

  }
  .wrapper{
    height: 100px;
    width: 100px;
    position: relative;
    border: 1px solid;
    border-radius: 50%;
    background-image: url('src/assets/coimbra.jpg');
    background-size: 100% 100%;
    overflow: hidden;
    align-items: center;
    margin-left: 20px;
  }
  .file{
    position: absolute;
    bottom: 0;
    outline: none;
    color: transparent;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.5s;
    left: 0px;
    font-size: 10px;
  }
  .file::-webkit-file-upload-button{
    visibility: hidden;
  }

  #contgreen {
    margin-left: 55px;
    margin-top: -25px;
  }

  #login {
    background-color: #178da9;

    height: 700px;
    width: 170px;
    text-align: center;
    margin-right: -50px;
    z-index: 1;
    margin-left: 130px;
  }

  #signup {
    background-color: #178da9;
    margin-top: 40px;
    font-family: 'AvenirNextLTPro';

  }
  .main {
   background-image: url(src/assets/profile.jpg);
   background-color: #f0f3f5 !important;
  }

  #dn {
    margin-left: 0.5px;
  }
  a{
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  .but {
    background-color: #178da9;
    color: white;
    margin-left: 260px;
    margin-top: 30px;
    border-radius: 6px;
  }

  #perso{
    color: #178da9;
  }
  #pers{
    color: #178da9;
  }
  .border{
    opacity: 75%;
    border-radius: 6px;
  }
  label{
    font-size: 15px;
  }
  .but{
    font-size: 10px;

  }


  @media(min-width: 360px) and (max-width: 800px){

    a{
      font-size: 12px;
    }
    *{
      font-size: 12px;
    }
    #login{
      position: absolute;
      left: -125px;
      width: 100px;
    }
    #contwhite{
      position: relative;
      width: 300px;
      right: -30px;
    }
    #contwhite1{
      position: relative;
      width: 300px;
      right: -30px;
    }
    .ddr{
      position: relative;
      top: -35px;
    }
    label{
      position: relative;
      top: -25px;
    }
    input{
      position: relative;
      top: -10px;
    }
    #Lastname{
      position: relative;
      top: -50px;
    }
    #Email{
      position: relative;
      top: -70px;
    }
    #Firstname{
      position: relative;
      top: -30px;
    }

    #Lastnam{
      position: relative;
      top: -50px;
    }
    #Emai{
      position: relative;
      top: -70px;
    }
    #Firstnam{
      position: relative;
      top: -30px;
    }

    .LN{
      position: relative;
      top: -50px;
    }
    .EM{
      position: relative;
      top: -70px;
    }
    .GN{
      position: relative;
      top: -85px;
    }
    .ML{
      position: relative;
      top: -60px;
      left: 10px;
    }
    #flexRadioDefault1{
      position: absolute;
      top: -25px;
    }
    .FML{
      position: relative;
      top: -80px;
      left: 70px;
    }
    #flexRadioDefault2{
      position: absolute;
      top: -25px;
    }
    .DOB{
      position: relative;
      top: -95px;
    }
    #Date{
      position: relative;
      top: -100px;
    }
    #Nt{
      position: relative;
      top: -120px;
    }
    #Sele{
      position: relative;
      top: -120px;
    }
    #PN{
      position: relative;
      top: -135px;
    }
    #Phone{
      position: relative;
      top: -135px;
    }
    .but{
      position: relative;
      top: -210px;
      left: -250px;
      width: 120px;
    }
    #perso{
      position: relative;
      left: -30px;
      font-size: 19px;
    }
    #pers{
      position: relative;
      left: -30px;
      font-size: 19px;
    }
    .wrapper{
      position: relative;
      left: -20px;
    }
  }
.uploadIcon{

  height: 25px;
width: 25px ;
  z-index: 1000;
  margin-right: -250px;
  margin-top: -510px;
}

  /* #signup h5{
    color: white:!important;
  } */
