<mat-card class="bg-white">

  <div class="row container justify-content-center" >
    <img src="{{'http://localhost:8081/offer/Imgarticles/'+offre.id}}">
  </div>


  <div class="row justify-content-center  ">
    <div class=" col-lg-5 mr-1 mt-4  col-sm-12">
      <h1 class="font-weight-bold">{{offre.acronym}}</h1>
      <h3 class="font-weight-bold">{{offre.nom}}</h3>
      <h4 class="font-weight-bold mt-5">Description</h4>
      <p>{{offre.description}}</p>
      <p *ngIf="offre.video!=null"> For more information see the video:
        <a (click)="Watchvideo(offre.video)" style="color: #0e86c7"  class="font-weight-bold"> click here</a></p>
      <hr>

      <h4 class="font-weight-bold">Process</h4><br>
      <!-- Vertical Steppers -->
      <div class="row ">
        <u class="col-md-12">

          <!-- Stepers Wrapper -->
          <ul class="stepper stepper-vertical">

            <!-- First Step -->
            <li class="completed">
              <a (click)="affiche1()">
                <span class="circle">1</span>
                <span class="label  text-capitalize">application</span>
              </a>

              <!-- Section Description -->
              <div class="step-content grey lighten-3" *ngIf="clicked1">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse cupiditate voluptate facere
                  iusto
                  quaerat
                  vitae excepturi, accusantium ut aliquam repellat atque nesciunt nostrum similique. Inventore
                  nostrum
                  ut,
                  nobis porro sapiente.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore error excepturi veniam nemo
                  repellendus, distinctio soluta vitae at sit saepe. Optio eaque quia excepturi adipisci pariatur
                  totam,
                  atque odit fugiat.</p>
                <p>Deserunt voluptatem illum quae nisi soluta eum perferendis nesciunt asperiores tempore saepe
                  reiciendis,
                  vero quod a dolor corporis natus qui magni quas fuga rem excepturi laboriosam. Quisquam
                  expedita ab
                  fugiat.</p>
              </div>
            </li>

            <!-- Second Step -->
            <li class="active">

              <!--Section Title -->
              <a (click)="affiche2() ">
                <span class="circle" style="background-color: #ff0440">2</span>
                <span class="label text-capitalize">interview</span>
              </a>

              <!-- Section Description -->
              <div class="step-content grey lighten-3" *ngIf="clicked2">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse cupiditate voluptate facere
                  iusto
                  quaerat
                  vitae excepturi, accusantium ut aliquam repellat atque nesciunt nostrum similique. Inventore
                  nostrum
                  ut,
                  nobis porro sapiente.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore error excepturi veniam nemo
                  repellendus, distinctio soluta vitae at sit saepe. Optio eaque quia excepturi adipisci pariatur
                  totam,
                  atque odit fugiat.</p>
                <p>Deserunt voluptatem illum quae nisi soluta eum perferendis nesciunt asperiores tempore saepe
                  reiciendis,
                  vero quod a dolor corporis natus qui magni quas fuga rem excepturi laboriosam. Quisquam
                  expedita ab
                  fugiat.</p>
              </div>
            </li>

            <!-- Third Step -->
            <li class="active">
              <a (click)="affiche3()">
                <span class="circle">3</span>
                <span class="label text-capitalize">final decision</span>
              </a>
              <!-- Section Description -->
              <div class="step-content grey lighten-3" *ngIf="clicked3">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse cupiditate voluptate facere
                  iusto
                  quaerat
                  vitae excepturi, accusantium ut aliquam repellat atque nesciunt nostrum similique. Inventore
                  nostrum
                  ut,
                  nobis porro sapiente.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore error excepturi veniam nemo
                  repellendus, distinctio soluta vitae at sit saepe. Optio eaque quia excepturi adipisci pariatur
                  totam,
                  atque odit fugiat.</p>
                <p>Deserunt voluptatem illum quae nisi soluta eum perferendis nesciunt asperiores tempore saepe
                  reiciendis,
                  vero quod a dolor corporis natus qui magni quas fuga rem excepturi laboriosam. Quisquam
                  expedita ab
                  fugiat.</p>
              </div>

            </li>


          </ul>
        </u>
      </div>


    </div>

    <div class=" col-lg-6 col-sm-12   " style="background: #eeeeee; ">

      <h4 class="font-weight-bold ml-4 mt-4">Registration</h4>
      <div class="d-flex row p-1 ml-4"><p class="col-sm-4 text-capitalize ">Start Date </p>
        <p class="col-sm-4 ml-2 "> {{offre.dateDebut | date}}</p></div>
      <div class="d-flex row p-1 ml-4"><p class="col-sm-4 text-capitalize"> end date </p>
        <p class="col-sm-4 ml-2 "> {{offre.dateFin | date}}</p></div>

      <hr class="text-light">
      <h4 class="font-weight-bold ml-4">Details</h4>
      <div class="container-fluid ml-4">
        <div class="d-flex row p-sm-0 p-lg-1"><p class="col-sm-4 text-capitalize"> duration </p>
          <p class="col-sm-4 ml-2 text-capitalize"> {{offre.duree}}</p></div>
        <div class="d-flex row p-sm-0 p-lg-1"><p class="col-sm-4 text-capitalize"> start date  </p>
          <p class="col-sm-4 ml-2 text-capitalize"> {{offre.startdateoffer |date}}</p></div>
        <div class="d-flex row p-sm-0 p-lg-1"><p class="col-sm-4 text-capitalize"> commandation </p>
          <p class="col-sm-4 ml-2 text-capitalize"> {{offre.adress}}</p></div>
        <div class="d-flex row p-sm-0 p-lg-1"><p class="col-sm-4 text-capitalize"> organisation </p>
          <p class="col-sm-4 ml-2 text-capitalize"> {{offre.organisation}}</p></div>

      </div>

      <hr class="text-light">

      <div class="d-flex  row ml-4 "><a type="button" class=" mt-0 mr-0 " style="color: #ff0440" data-toggle="modal" data-target="#exampleModalCenter">
        <i class="fa fa-info-circle " aria-hidden="true"></i>
      </a><p class="col-sm-4 font-weight-bold ">Price : </p>
        <p class="col-sm-4 ml-2 font-weight-bold">{{offre.prix}} DT   </p>

        <!-- Button trigger modal -->


        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header" style="background-color: #eeeeee">
                <h5 class="modal-title" id="exampleModalLongTitle" >Price details </h5>
              </div>
              <div class="modal-body">
                <h4 style="color: black">
                  {{offre.priceDetails}}</h4>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn " style="background-color: #eeeeee" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr class="text-light">


        <h4 class="font-weight-bold ml-4 p-sm-0  ">Requirements</h4>
        <div class="d-flex row p-sm-0 p-lg-1 ml-4"><p class="col-sm-4 text-capitalize"> level </p>
          <p class="col-sm-4 ml-2 text-capitalize"> {{offre.niveau}}</p></div>

        <div class="d-flex row p-sm-0 p-lg-1 ml-4">
          <p class="col-sm-4 text-capitalize"> skills </p>
          <div *ngFor="let skill of offre.skills">
            <p class="ml-5 w-75"
               style=" text-align: center; border: #ececec solid 2px ; border-radius: 15px ; background-color: #f8f8f8 ">{{skill.nom}}</p>
          </div>
        </div>

        <div class="d-flex row p-sm-0 p-lg-1 ml-4"><p class="col-sm-4 text-capitalize"> other </p>
          <p class="col-sm-4 ml-2 text-capitalize"> {{offre.processus}}</p></div>


    <div class="row ml-3 mr-3 align-content-center ">
      <button routerLink="/postuler/{{offre.id}}" class="btn text-white w-100 mb-3"
              style="background-color: #ff0440">Apply Now
      </button>

    </div>
    </div>
  </div>


</mat-card>


