<div class="d-flex justify-content-center align-items-center " id="contwhite">
  <div class="row  ml-5 w-100 align-items-center align-items-stretch justify-content-center" id="contgreen">

    <div class="col-sm-4 col-xs-3 d-flex ">
      <div class="align-items-stretch">
        <p class="h3  display-1" style="color:#178da9; font-weight: bold;">1</p>
      </div>
      <div style="margin-top: 15px;">
        <p class="h6">Create<br>your profile</p>
        <p style="font-size: 10px;font-weight: bold;">Tell us all the amazing experiences you <br> have done so
          far</p>
      </div>
    </div>

    <div class="col-sm-4 col-xs-3 d-flex">
      <div class="align-items-stretch">
        <p class="h3  display-1" style="color:#178da9; font-weight: bold; font-size: 100px;">2</p>
      </div>

      <div style="margin-top: 15px;">
        <p class="h6">Choose<br>your program </p>
        <p style="font-size: 10px;font-weight: normal;">Browse our offers and get matched with the best
          opportunities</p>
      </div>
    </div>

    <div class="col-sm-4 col-xs-3 d-flex">
      <div class="align-items-stretch">
        <p class="h3  display-1" style="color:#178da9; font-weight: bold">3</p>
      </div>

      <div style="margin-top: 15px;">
        <p class="h6">Achieve<br>your aspiration</p>
        <p style="font-size: 10px;font-weight: normal;">Achieve the right program in just three clicks</p>
      </div>

    </div>


  </div>


</div>
