

<div id="carouselExampleControls" class="carousel gg h-100 bg-light slide" data-ride="carousel">
  <div class="carousel-inner h-100">

    <div  class="carousel-item active mt-5 DD h-75 ">
      <div  class=" d-flex row justify-content-around DN h-100">
        <div class="card A SF" *ngFor="let item of of | paginate: { itemsPerPage: 3, currentPage: p } let i = index" [ngClass]="{'active': i == 0 }" >
          <div class="EE">
            <div class="p-3">
              <p class="h1 B text-light" style="height: 141px; width: 250px;word-wrap: break-word; overflow: hidden;">{{item[14]}}</p>
              <p>{{item[1]}}</p>
              <p class="text-light C" > {{item[7]}}<br>
              </p>
              <p class="Yel">SPECIALIZATION<p class="text-light C" *ngFor="let it of s let i = index"> <a *ngIf="it[2] === item[0]">{{it[0]}}</a>
            </p><p class="text-light C">{{item[10]}}</p>

            </div>
            <div class="d-flex EB justify-content-around  ">
              <button routerLink="/offre/{{item[0]}}/{{item[10]}}" type="button" class="btn BA">Apply Now</button>

              <a class="btn BA " data-toggle="collapse" href="#multiCollapseExample1{{item[0]}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                Requirements
              </a>

            </div>
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample1{{item[0]}}">
                <div class="card card-body">
                  Background :      <p *ngFor="let it of s let i = index"><a *ngIf="it[0] === item[0]"> {{it[0]}} </a> <br></p>                  </div>
              </div>
            </div>
          </div>
          <div class="container cont h-100 bg-light scroll">
            <div class="main-card mb-3 ">
              <div class="card-header"><i class="header-icon lnr-license icon-gradient"> </i>
                <div class="btn-actions-pane-right">
                  <div role="group" class="btn-group-sm nav btn-group">
                    <a data-toggle="tab" href="#tab-eg1-{{item[0]}}"
                       class="btn-shadow active btn NN">Description</a>
                    <a data-toggle="tab" href="#tab-eg2-{{item[0]}}" class="btn-shadow  btn NN">
                      Prices</a>
                    <a data-toggle="tab" href="#tab-eg3-{{item[0]}}" class="btn-shadow  btn NN">
                      Centre presentation</a>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane active" id="tab-eg1-{{item[0]}}" role="tabpanel">
                    <p>{{item[6]}}</p>
                  </div>
                  <div class="tab-pane" id="tab-eg2-{{item[0]}}" role="tabpanel">
                    <p>{{item[8]}} DT</p>
                  </div>
                  <div class="tab-pane" id="tab-eg3-{{item[0]}}" role="tabpanel">
                    <p> <img style="height: 90%; width: 90%;" src="{{'http://localhost:8081/offre/Imgarticles/'+item[13]}}" alt="...">
                      <br> Durée :  {{item[4]}}<br> Type : {{item[9]}} </p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>



</div>
