

<div class="container h-100 align-content-center">
  <div class="row  h-50 d-flex align-items-start justify-content-center">
  <p class=" text-center text-white  display-4 mt-5" >All your career information
    in <br>one platform</p>
  </div>
  <div class="row"></div>

  <div class="row h-25 d-flex align-items-end">
    <div class="col-sm-4  col-md-4 col-xs-7 mb-0">

  <button class="btn btn-outline-info border-light w-75 h-200" routerLink="/plan/ourplan"> <p class="text-white text-center h2  text-md-center ">Student </p></button>

      </div>
    <div class="col-sm-4 col-md-4 col-xs-7 ">
  <button class="btn btn-outline-info border-white w-75 h-200" routerLink="login"><p class="text-white text-center h2 text-md-center " >Supervisor</p> </button>
      </div>
    <div class="col-sm-4 col-md-4 col-xs-7">
  <button class="btn btn-outline-info border-light w-75 h-200" routerLink="login"><p class="text-white text-center h2 text-md-center " >Company</p> </button>
      </div>
  </div>
</div>

