<body *ngIf="con.admin === 2">
<div class="container-fluid">
  <div class="row my-4">
  <div class="col-md-6" >

  </div>
</div>
<div fxHide.gt-xs>

</div>
<div >
  Liste Condidat
</div>

<div class="col-md-12 col-md-offset-2">
  <div class="table-responsive">
    <table class="table table-bordered table-responsive-sm table-responsive-md
     table-responsive-lg">
      <thead>
      <tr>
        <th scope="col">email</th>
        <th scope="col">first Name</th>
        <th scope="col">last Name</th>
        <th class="text-center" scope="col">Action</th>
      </tr>
      </thead>
      <tbody *ngFor="let item of candidate ">
      <tr *ngIf="item.enabled === id && item.admin === 0">
        <th>{{item.email}}</th>
        <td>{{item.firstName}}</td>
        <td>{{item.lastName}}</td>
        <td><button class="btn btn-warning" style="margin-left: 20px;">
          <i class="fa fa-pencil-square-o" ></i></button></td>
        <td><button class="btn btn-danger">
          <i class="fa fa-trash-o"></i></button></td>
      </tr>

      </tbody>

    </table>
  </div>
</div>
</div>
<button class="btn btn-info float-right" (click)="backClicked()"> Retour</button>
</body>
<div class="bg-light row" >

<app-sidebar></app-sidebar>
  <div *ngIf="con.admin === 1">
<div class="col-sm-9 offset-3 ">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
  </div>
  <div >
    Liste Condidat
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a routerLink="/signup" class="btn btn-sm btn-success text-white pull-right" >
          <i class="fa fa-plus"></i>Add Condidat </a>
      </li>
    </ul>
  </div>
  <div class="card-body" *ngIf="addc">
    <p class="card-title h2 ct1">vgh</p>
    <p class="card-text">hgghhg</p>
    <a type="button" class="btn btn-secondary" (click)="Click()">cancel</a>
  </div>
  <div class="col-md-12 col-md-offset-2">
    <div class="table-responsive">
      <table class="table table-bordered table-responsive-sm table-responsive-md
     table-responsive-lg">
        <thead>
        <tr>
          <th scope="col">email</th>
          <th scope="col">first Name</th>
          <th scope="col">last Name</th>
          <th class="text-center" scope="col">Action</th>
        </tr>
        </thead>
        <tbody *ngFor="let item of candidate | filter:term">
        <tr *ngIf=" item.admin === 0">
          <th>{{item.email}}</th>
          <td>{{item.firstName}}</td>
          <td>{{item.lastName}}</td>
          <td><button class="btn btn-warning" style="margin-left: 20px;">
            <i class="fa fa-pencil-square-o" routerLink="/user/{{item.userId}}/{{item.email}}"> Show </i></button></td>
          <td><button class="btn btn-danger" value="Delete" (click)="delete(item.userId)">
            <i class="fa fa-trash-o"> Delete</i></button></td>
        </tr></tbody>

      </table>
    </div>
  </div>


<div class="container-fluid">
  <div >
    Liste des supervisor
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a (click)="Clickeds()" class="btn btn-sm btn-success text-white pull-right" >
          <i class="fa fa-plus"></i>Add Supervisor </a>
      </li>
    </ul>
  </div>
  <div class="card-body" *ngIf="adds">
    <p class="card-title h2 ct1">vgh</p>
    <p class="card-text">hgghhg</p>
    <a type="button" class="btn btn-secondary" (click)="Clicks()">cancel</a>
  </div>
  <div class="col-md-12 col-md-offset-2">
    <div class="table-responsive">
      <table class="table table-bordered table-responsive-sm table-responsive-md
     table-responsive-lg">
        <thead>
        <tr>
          <th scope="col">email</th>
          <th scope="col">first Name</th>
          <th scope="col">last Name</th>
          <th class="text-center" scope="col">Action</th>
        </tr>
        </thead>
        <tbody *ngFor="let item of candidate | filter:term ">
        <tr *ngIf=" item.admin === 2">
          <th>{{item.email}}</th>
          <td>{{item.firstName}}</td>
          <td>{{item.lastName}}</td>
          <td><button class="btn btn-warning" style="margin-left: 20px;">
            <i class="fa fa-pencil-square-o" routerLink="/user/{{item.userId}}/{{item.email}}"> Show</i></button></td>
          <td><button class="btn btn-danger" value="Delete" (click)="delete(item.userId)">
            <i class="fa fa-trash-o"> Delete</i></button></td>
        </tr></tbody>

      </table>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div >
    List company
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a (click)="Clickedc()" class="btn btn-sm btn-success text-white pull-right" >
          <i class="fa fa-plus"></i>Add Societe </a>
      </li>
    </ul>
  </div>
  <div class="card-body" *ngIf="addco">
    <p class="card-title h2 ct1">vgh</p>
    <p class="card-text">hgghhg</p>
    <a type="button" class="btn btn-secondary" (click)="Clickc()">cancel</a>
  </div>
  <div class="col-md-12 col-md-offset-2">
    <div class="table-responsive">
      <table class="table table-bordered table-responsive-sm table-responsive-md
     table-responsive-lg">
        <thead>
        <tr>
          <th scope="col">email</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th class="text-center" scope="col">Action</th>
        </tr>
        </thead>
        <tbody *ngFor="let item of candidate | filter:term ">
        <tr *ngIf=" item.admin === 3">
          <th>{{item.email}}</th>
          <td>{{item.firstName}}</td>
          <td>{{item.lastName}}</td>
          <td><button class="btn btn-warning" style="margin-left: 20px;">
            <i class="fa fa-pencil-square-o" routerLink="/user/{{item.userId}}/{{item.email}}"> Show</i></button></td>
          <td><button class="btn btn-danger" value="Delete" (click)="delete(item.userId)">
            <i class="fa fa-trash-o"> Delete</i></button></td>
        </tr></tbody>

      </table>
    </div>
  </div>
</div>
<button class="btn btn-info float-right" (click)="backClicked()"> Retour</button>
</div>
</div>
</div>

