<div class="bg-light min-vh-100 row" >
  <nav class="px-1 bg-info position-fixed" id="sticky-sidebar">
    <div class="mh-100 nav flex-column flex-nowrap min-vh-100 mw-25 overflow-auto text-white p-2" >
      <ul class="nav flex-column" >
        <li class="nav-item">
          <a class="nav-link list text-white" routerLink="/dash">
            <span data-feather="home"></span>
            Dashboard <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link list text-light" style="width: 200px" routerLink="/project/archive">
            <span data-feather="file"></span>
            Archive
          </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link list text-light" style="width: 200px" routerLink="/project">
            <span data-feather="file"></span>
            Project
          </a>
        </li>


      </ul>
    </div>
  </nav>
  <div class="col-sm-9 offset-3 ">
    <div *ngFor="let a of pos" > <div *ngIf="a[3] === con.id ">
  <div *ngIf="a[5] === 'Summer'"><div *ngIf="a[4] + summer < taw">
    <li class="nav-item" >
      <a class="nav-link list text-dark" style="width: 200px" routerLink="/calendar/{{a[2]}}">
        <img style="width: 280px; height: 200px;" src="{{'http://localhost:8080/offre/Imgarticles/'+a[0]}}" class=" img1" alt="...">
        <span data-feather="file"></span>
        Project {{a[1]}}
      </a>
    </li>
  </div></div>
  <div *ngIf="a[5] === 'Semester'"><div *ngIf="a[4] + semester < taw">
    <li class="nav-item" >
      <a class="nav-link list text-dark" style="width: 200px" routerLink="/calendar/{{a[2]}}">
        <img style="width: 280px; height: 200px;" src="{{'http://localhost:8080/offre/Imgarticles/'+a[0]}}" class=" img1" alt="...">
        <span data-feather="file"></span>
        Project {{a[1]}}
      </a>
    </li>
  </div></div>
  <div *ngIf="a[5] === 'Academic year'"><div *ngIf="a[4] + year < taw">
    <li class="nav-item" >
      <a class="nav-link list text-dark" style="width: 200px" routerLink="/calendar/{{a[2]}}">
        <img style="width: 280px; height: 200px;" src="{{'http://localhost:8080/offre/Imgarticles/'+a[0]}}" class=" img1" alt="...">
        <span data-feather="file"></span>
        Project {{a[1]}}
      </a>
    </li>
  </div>
  </div>
</div></div></div></div>
