


<div class="container ">
<div class="row">
  <div class="card p-4 col-8 ">

<form class=" container-fluid  ">
  <div class="form-row  ">
    <div class="col-md-4 mb-3">
      <label >Title</label>
      <input type="text" class="form-control form-control-sm " [(ngModel)]="offer.nom" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="col-md-4 mb-3">
      <label >Post Date</label>
      <input class="form-control form-control-sm"
             [(ngModel)]="offer.dateDebut"  [ngModelOptions]="{standalone: true}" type="date">          </div>
    <div class="col-md-4 mb-3">
      <label >Deadline</label>
      <input class="form-control form-control-sm "
             [(ngModel)]="offer.dateFin"  [ngModelOptions]="{standalone: true}" type="date">

    </div>
  </div>
  <div class="form-row  ">
    <div class="col-md-4 mb-3">
      <label >Acronym</label>
      <input type="text" class="form-control form-control-sm " [(ngModel)]="offer.acronym" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="col-md-4 mb-3">
      <label >Internship Start</label>
      <input class="form-control form-control-sm"
             [(ngModel)]="offer.dateDebut"  [ngModelOptions]="{standalone: true}" type="date">          </div>

  </div>
  <div class="form-row ">
    <div class="col-md-6 mb-3">
      <label for="validationServer03">Organization</label>
      <input type="text" [(ngModel)]="offer.organisation" [ngModelOptions]="{standalone: true}" class="form-control" id="validationServer03" required>
    </div>
    <div class="col-md-3 mb-3">
      <label>Study Level </label>
      <select [(ngModel)]="offer.niveau" [ngModelOptions]="{standalone: true}" class="form-control  form-select-lg mr-3"
              aria-label=".form-select-lg example">
        <option value="Student 1st cycle">Student 1st cycle</option>
        <option value="Student 2nd cycle">Student 2nd cycle</option>
        <option value="Student 3rd cycle">Student 3rd cycle</option>
        <option value="4">Graduate</option>

      </select>          </div>
    <div class="col-md-3 mb-3">
      <label > Video Link</label>
      <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="offer.video" class="form-control" required>
    </div>
  </div>
  <div class="form-row ">
    <div class="col-md-4 mb-3">
      <label for="validationServer03">Fee (TND)</label>
      <input type="number" [(ngModel)]="offer.prix" [ngModelOptions]="{standalone: true}" class="form-control" required>

    </div>
    <div class="col-md-4 mb-3">
      <label for="validationServer03">Type</label>
      <select [(ngModel)]="offer.type" [ngModelOptions]="{standalone: true}" class="form-control form-select-lg"
              aria-label=".form-select-lg example">
        <option value="intership">Internship</option>
        <option value="study">study</option>
        <option value="volunteer">volunteer</option>
      </select>            </div>
    <div class="col-md-4 mb-3">
      <label >Duration</label>
      <input type="text" [(ngModel)]="offer.duree" [ngModelOptions]="{standalone: true}" class="form-control form-select-lg"/>
                   </div>
  </div>
  <div class="form-row ">
    <div class="w-100">
      <label class="col-form-label" >Description</label>
      <textarea  type="text" class="form-control "[(ngModel)]="offer.description" [ngModelOptions]="{standalone: true}" required></textarea>
    </div>
    <div class=" mt-3">
      <label class="mb-2"  > Skills</label>
      <div  *ngFor="let arr of offer.skills; let iaa = index">
        <div class="row ml-3">
        <input type="text"name="nom{{iaa}}" class="form-control co-4" [(ngModel)]="arr.nom">

          <span class="btn btn-danger col-1 w-25 h-100 " (click)="remov(iaa)"> - </span>
        </div>

      </div>

    <a (click)="Addfor()" class="btn btn-outline-info w-100">+</a>
    </div>
  </div>

<div class="form-row justify-content-start">
  <button class="btn text-white   col-2 " style="background-color: #ff0440" (click)="edit(offer.id)">Update</button>

</div>
</form>


  </div>
    <div class="w-100 card p-0  col-4 ml-0">
  <input type="file" id="file" accept="image/*" (change)="onSelectFile($event)" class="form-control-file" />

  <img mat-card-image src="{{'http://localhost:8081/offer/Imgarticles/'+offer.id}}"  class=" h-100 img-responsive ">
      <label for="file" class="uploadIcon  text-center text-white offset-10   "><a > <fa-icon [icon]="faCamera" class="fa-2x"></fa-icon></a></label>

    </div>
</div>
</div>
