input[type="file"]{
  display: none;


}
.uploadIcon{
  position: absolute;
  height: 40px;
  width: 40px ;
  z-index: 1000;


}
.uploadIcon:hover{
  position: absolute;
  height: 40px;
  width: 40px ;
  z-index: 1000;
background-color: #a0a0a0;

}
#file {
  position: absolute;
  bottom: 0;
  outline: none;
  color: transparent;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.5s;
  left: 0px;
  font-size: 10px;
}
.file::-webkit-file-upload-button{
  visibility: hidden;
}

