

<div class=" min-vh-100 row">
  <div class=" col-3 ">
    <div class="sidebar  imgs" data-color="danger" data-background-color="" data-image="">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="jumbotron">

      <div class="sidebar-wrapper $">
        <ul class="nav w-100">
          <li class="nav-item    ">
            <a class="nav-link w-75 " routerLink="/dash/dashpwbi" >
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>


          <li class="nav-item  " id="accordion">

                    <a class=" nav-link  " data-toggle="collapse"  id="headingOne" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <i class="material-icons">person</i> <span class="row "><p class="col-6"> List users </p> <i class="fa fa-chevron-down col-1" style="font-size: small"></i> </span>
                    </a>



                <div id="collapseOne" class="collapse  " aria-labelledby="headingOne" data-parent="#accordion">


                    <a class="row text-center  nav-link w-75" routerLink="/dash/listc/">list Candidate</a>
                    <a class="row text-center  nav-link w-75" routerLink="/dash/listsupervisor">list Supervisor</a>
                    <a class="row text-center  nav-link w-75"  routerLink="/dash/listsoceity">list Soceity</a>

                </div>



          </li>
          <li class="nav-item w-75 ">
            <a class="nav-link" routerLink="/dash/listoff">
              <i class="material-icons">library_books</i>
              <p>List Offer</p>
            </a>
          </li>
          <li class="nav-item w-75 ">
            <a class="nav-link" routerLink="/dash/listc">
              <i class="material-icons">bubble_chart</i>
              <p>List Project</p>
            </a>
          </li>
          <li class="nav-item w-75 ">
            <a class="nav-link" routerLink="/dash/listc">
              <i class="material-icons">location_ons</i>
              <p>Maps</p>
            </a>
          </li>



        </ul>
      </div></div>
    </div>

  </div>



<div class="col-8">
    <router-outlet></router-outlet>

</div>


</div>

