

<div class="bg-light min-vh-100 row">
  <app-sidebar></app-sidebar>
  <div class="col-sm-9 offset-2" *ngIf="con.role === 1">


      <iframe width="1200" height="700"
              src="https://app.powerbi.com/reportEmbed?reportId=63de8596-7e5d-4441-90cd-1bf3f29fce80&autoAuth=true&ctid=1158e2d5-dc24-41ad-abce-62841076dbde&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXdlc3QtdXMtYi1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9"
              frameborder="0" allowFullScreen="true">
      </iframe>

  </div>

  <div class="col-sm-9 offset-2" *ngIf="con.role === 0">


  </div>

  <div class="col-sm-9 offset-2 " *ngIf="con.role === 2">

<h4 class="justify-content-center"> Condidats Encadré</h4>
    <div  *ngFor="let a of pos" > <div class="row" *ngIf="a[3] === con.id">
      <div  class="col-6 col-md-4 " *ngFor="let u of candidate" > <div *ngIf="u.enabled === a[6]">

        <a routerLink="/user/{{u.userId}}/{{u.email}}"><img src = "{{'http://localhost:8081/condidat/img/'+u.userId}}"
                                                            style = "height :100px;width:100px"
                                                            alt="">{{u.firstName}} {{u.lastName}}</a>
      </div></div></div></div>
    <iframe class="mt-5" width="1300" height="400" src="https://app.powerbi.com/reportEmbed?reportId=878aeba3-2078-4064-890d-fe82fba66aeb&autoAuth=true&ctid=1158e2d5-dc24-41ad-abce-62841076dbde&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXdlc3QtdXMtYi1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
  </div>
  <div class="col-sm-9 offset-2" *ngIf="con.role === 3">

  </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>

<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
      datasets: [{
        data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: false
          }
        }]
      },
      legend: {
        display: false,
      }
    }
  });
</script>


