<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
</head>


<div class="containair  h-100 w-100" id="cb">
  <div class=" container mb-5 mh-100 ml-5 justify-content-center h-100 w-100 ">
    <div class=" justify-content-center  w-75  ml-5 h-100 mt-4 align-items-center" id="ppd">
      <p class="h5 text-center mt-2 pa" style="color:#178da9; margin-left: -110px; ">Job Question</p>
      <div class="justify-content-center ml-5">

      </div>

      <div class="container border border-dark mt-4" *ngFor="let education of educations">


        <ul class="list-group container border border-dark w-100 h-100 list-group-flush" *ngIf="educations">
          <li class="list-group-item "> What is the highest degree do you hols to this position and area of speciality?*<br>
            <input name="nomFaculte" class="rounded border border-dark bg-transparent" [(ngModel)]="education.premier">
          </li>
          <li class="list-group-item "> Provide a short exemple of an innovative teaching strategy you utilize.*<br>
            <input class="rounded border border-dark bg-transparent" name="niveau" [(ngModel)]="education.deuxieme">
          </li>
          <li class="list-group-item ">Briey describe one exemple of your collaborative work with students.*<br>
            <input name="specialite" class=" rounded border border-dark bg-transparent"
                   [(ngModel)]="education.troiseme"></li>

          <li class="list-group-item list-group-item text-center">
            <button class="btn btn-primary mr-2" (click)="edit(education.questionId, education)">Edit</button>
            <button class="btn btn-dark mr-2" (click)="delete(education.questionId)">Delete</button>
          </li>
        </ul>
      </div>
      <form [formGroup]="questionForm" *ngIf="!educations?.length">

        <div class="justify-content-center align-items-center">

            <label>What is the highest degree do you hols to this position and area of
              speciality?*</label>
          <br><br>
            <input type="text" formControlName="premier" name="institutename"
                   class="For form-control form-control-sm rounded border border-dark bg-transparent">

            <label>Provide a short exemple of an innovative teaching strategy you
              utilize.*</label>
          <br><br>
            <input type="text" formControlName="deuxieme"
                   class="For form-control form-control-sm rounded border border-dark bg-transparent">


            <label>Briey describe one exemple of your collaborative work with
              students.*</label>
          <br><br>
            <input id="degree" formControlName="troiseme" name="degree"
                   class="Rl form-control form-control-sm rounded border border-dark bg-transparent ">


          <button type="submit" [disabled]="questionForm.invalid" (click)="createQuestion()" class="btn btn-info offset-9">
            Save
          </button>


        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

      </form>

    </div>


  </div>

</div>


<script src="https://kit.fontawesome.com/6d3194976d.js" crossorigin="anonymous"></script>

