.body{
  background-image: url(src/assets/coimbra.jpg);
  height: 750px;
  width: 100%;
  margin :0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*{
  font-family: 'Avenir Next LT Pro';
}
.P{
  background-image: url(/assets/intern\ abroad.jpg);
  background-size: cover;
  background-position: center;
}
.S{
  position: relative;
  background-color: #178da9;
  margin-top: 45px;
  animation: slide 3s forwards;


}



.h1{
  font-size: 60px;
  font-weight: bold;
}
.border{
  border-radius: 8px;
}
.btn{
  background-color: #178da9;
}
.IC1{

  border-radius: 8px;
}
.SF{
  border-radius: 18px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0px 10px 30px -8px rgb(0 0 0 / 40%);
  text-align: center;
  justify-content: center;
}
.carousel{
  border: none;
}
a{
  text-decoration: none;
  color: white;
  opacity: 100%;

}
.card{
  transition:  0.5s ease-in ;
  border: none;


}
.card:hover {
  transform: translateY(10px);
  font-weight: bold;
  color: black;
  z-index: 2;



}

a:hover .overlay{
  opacity: 70%;
}



.B{
  z-index: 3;
}

.SL{
  border: none;

}
.overlay{
  position: absolute;
  opacity: 0;
}
.overlay:hover{
  opacity: 70%;
}
.LF{
  border: none;
}
.prev{
  z-index: 4;


}
.next{
  z-index: 4;

}
.MM{
  border: none;
}
@keyframes slide{
  from {
    transform: translateX(-550px);
  }
  to {
    transform: translateX(50px);
  }
}
@media(min-width: 360px) and (max-width: 800px){
  .S{
    margin-left: -50px;
  }
}
