


<div class="P h-75">
  <div class="row mb-5"></div>
  <div class="S animated h-75 col-sm-5 col-xs">
    <p class="h1 text-light"> Thesis,<br> capstone<br> project,<br>
      and {{route.snapshot.params.id}}<br> abroad.</p>
  </div>
</div>
<div class="h-75 bg-light FF">
  <div class=" mt-5">
    <img src="/assets/Journey strateg_bluey.png" class="mx-auto d-block ">
  </div>

  <p class="text-dark p-5  text-center mx-auto">If you’re a student who is drawn to sharpen your soft
    skills, but
    also
    wouldn’t mind<br> coming home with some new professional skills in your repertoire too, then interning<br>
    abroad is
    the international experience for you.
    Ready to learn all you need to know to<br> secure an {{route.snapshot.params.id}} abroad?<br><br>
    Search thesis/capstone project and {{route.snapshot.params.id}} program according to your field of study.</p>
  <div class="row justify-content-center mr-5">
    <p  class="h-25 bg-transparent"
        style="width: 10rem;"> select Niveau
    </p>
    <p class="h-25 mr-3 bg-transparent"
      style="width: 10rem;">
      select Specialite
    </p>
    <p class=" h-25  mr-3 bg-transparent"
      style="width: 10rem;">
      select Duree
    </p>
  </div>
  <div class="row d-flex h-25 mx-auto justify-content-center ">
    <select [(ngModel)]="search.niveau" class="form-select  form-select-lg h-25 mb-3 mr-3 bg-transparent border border-dark"
            aria-label=".form-select-lg example" style="width: 10rem;">
      <option value="Student 1st cycle">Student 1st cycle</option>
      <option value="Student 2nd cycle">Student 2nd cycle</option>
      <option value="Student 3rd cycle">Student 3rd cycle</option>
      <option value="4">Graduate</option>

    </select>
    <select [(ngModel)]="search.cat" class="form-select form-select-lg h-25 mb-3 mr-3 bg-transparent border border-dark"
            aria-label=".form-select-lg example" style="width: 10rem;">
      <option value="Accounting">Accounting</option>
      <option value="Administrative">Administrative</option>
      <option value="Agriculture">Agriculture</option>
      <option value="Animal sciences">Animal sciences</option>
      <option value="Anthrolopology">Anthrolopology</option>
      <option value="Archaeology">Archaeology</option>
      <option value="Architecture">Architecture</option>
      <option value="Art & Fine Arts<">Art & Fine Arts</option>
      <option value="Art History">Art History</option>
      <option value="Astronomy & Astrophysics">Astronomy & Astrophysics</option>
      <option value="Au Pair">Au Pair</option>
      <option value="Aviation">Aviation</option>
      <option value="Biochemistry">Biochemistry</option>
      <option value="Biology">Biology</option>
      <option value="Biomedical Science">Biomedical Science</option>
      <option value="Business">Business</option>
      <option value="Call Center">Call Center</option>
      <option value="Camp Counseler & Trip Leader">Camp Counseler & Trip Leader</option>
      <option value="Chemical Engineering">Chemical Engineering</option>
      <option value="Chemistry">Chemistry</option>
      <option value="Civil Engineering">Civil Engineering</option>
      <option value="Communications">Communications</option>
      <option value="Computer Science">Computer Science</option>
      <option value="Construction">Construction</option>
      <option value="Counseling">Counseling</option>
      <option value="Creative writing">Creative writing</option>
      <option value="Criminal Justice">Criminal Justice</option>
      <option value="Culinary Arts & Cooking">Culinary Arts & Cooking</option>
      <option value="Dentistry">Dentistry</option>
      <option value="Development">Development</option>
      <option value="Ecology">Ecology</option>
      <option value="Economics">Economics</option>
      <option value="Education">Education</option>
      <option value="Electrical Engineering">Electrical Engineering</option>
      <option value="Environmental Management">Environmental Management</option>
      <option value="Environmental Studies">Environmental Studies</option>
      <option value="Fashion Business">Fashion Business</option>
      <option value="Fashion Design">Fashion Design</option>
      <option value="Finance">Finance</option>
      <option value="Food Science & Nutrition">Food Science & Nutrition</option>
      <option value="Forestry">Forestry</option>
      <option value="Geology">Geology</option>
      <option value="Graphic Design">Graphic Design</option>
      <option value="Health Administration">Health Administration</option>
      <option value="Health Sciences">Health Sciences</option>
      <option value="History">History</option>
      <option value="Horticulture">Horticulture</option>
      <option value="Hospitality">Hospitality</option>
      <option value="Human Resources">Human Resources</option>
      <option value="Human Rights">Human Rights</option>
      <option value="Humanities">Humanities</option>
      <option value="Industrial & Manufacturing">Industrial & Manufacturing</option>
      <option value="Information Systems">Information Systems</option>
      <option value="Interior Design">Interior Design</option>
      <option value="international Relations">international Relations</option>
      <option value="International Trade">International Trade</option>
      <option value="Journalism">Journalism</option>
      <option value="Kinesiology & Exercise Science">Kinesiology & Exercise Science</option>
      <option value="Labor & Industrial Relations">Labor & Industrial Relations</option>
      <option value="Law">Law</option>
      <option value="Liberal Arts">Liberal Arts</option>
      <option value="Library & Information Science">Library & Information Science</option>
      <option value="Linguistics">Linguistics</option>
      <option value="Marine Science">Marine Science</option>
      <option value="Marketing, Advertising, & PR">Marketing, Advertising, & PR</option>
      <option value="Mathematics">Mathematics</option>
      <option value="Mechanical Engineering">Mechanical Engineering</option>
      <option value="Media">Media</option>
      <option value="Medicine">Medicine</option>
      <option value="Meteorology">Meteorology</option>
      <option value="Museum Studies">Museum Studies</option>
      <option value="Music">Music</option>
      <option value="National Park">National Park</option>
      <option value="Nursing">Nursing</option>
      <option value="Parks & Recreation">Parks & Recreation</option>
      <option value="Pharmaceuticals">Pharmaceuticals</option>
      <option value="Philosophy">Philosophy</option>
      <option value="Photography">Photography</option>
      <option value="Physical Therapy">Physical Therapy</option>
      <option value="Physics">Physics</option>
      <option value="Political Science & Government">Political Science & Government</option>
      <option value="Ranch">Ranch</option>
      <option value="Real Estate">Real Estate</option>
      <option value="Religious Work">Religious Work</option>
      <option value="Resort">Resort</option>
      <option value="Sales">Sales</option>
      <option value="Scuba">Scuba</option>
      <option value="Ski Resort">Ski Resort</option>
      <option value="Social Sciences">Social Sciences</option>
      <option value="Social Work">Social Work</option>
      <option value="Sociology">Sociology</option>
      <option value="Spanish">Spanish</option>
      <option value="Sports">Sports</option>
      <option value="Statistics">Statistics</option>
      <option value="Sustainable Development">Sustainable Development</option>
      <option value="Technology">Technology</option>
      <option value="Tourism">Tourism</option>
      <option value="Web Design">Web Design</option>
      <option value="Women's Studies">Women's Studies</option>
      <option value="Zoology & Wildlife Sciences">Zoology & Wildlife Sciences</option>

    </select>
    <select [(ngModel)]="search.duree" class="form-select form-select-lg h-25 mb-3 mr-3 bg-transparent border border-dark"
            aria-label=".form-select-lg example" style="width: 10rem;">
      <option value="Semester">Semester</option>
      <option value="Summer">Summer</option>
      <option value="Academic year">Academic year</option>
    </select>
    <button type="button" (click)="filter()" class="btn text-light h-25" style="width: 10rem;">Filter results</button>
  </div>

  <div id="carouselExampleControls" class="carousel SL  slide h-75 d-flex  " data-ride="carousel">

    <a class="carousel-control-prev prev " href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon " aria-hidd en="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next next " href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

    <div class="carousel-inner row" >
        <div class="col-md-4 active h-100" *ngFor="let item of offre | paginate: { itemsPerPage: 3, currentPage: p } let i = index" >
        <div class=" d-flex justify-content-around h-100" >
          <a routerLink="/categories/{{item[0]}}/{{ty}}" (click)="cat(item[0])">
            <div class="card bg-transparent  h-100 SF align-items-center "
                 style="width: 21rem; background-image: url({{'http://localhost:8080/specialite/Imgarticles/'+item[3]}}); background-position: 100%;">
              <p class="h1 B text-center" style="max-width: 300px">{{item[0]}}</p>
              <div class="overlay bg-light h-100" style="width: 21rem;"></div>
            </div>
          </a>

        </div>
      </div>


    </div>



  </div><br>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>

  <div class="row h-50 LF bg-light"></div>

</div>

<!--
<div class=" body" *ngIf="candidate.admin === 0">

<ul>
<li class=""><h1>
  Bounjour hh
  <h1> hh </h1>

</h1></li>
  <li>
    <button routerLink="/profil" > Profil</button>
  </li>
</ul>
</div>
  <div *ngIf="candidate.admin === 1">{{tok}}
    <button routerLink="/listc" > List Condidat</button>
</div>
<div *ngIf="candidate.admin === 2">
  <button routerLink="/listc" > List Condidat supervisor</button>
</div>
<div *ngIf="candidate.admin === 3">
  <button routerLink="/listc" > List offre</button>
</div>
-->

