@import 'themes/calendar_blue.css';
@import 'themes/calendar_traditional.css';
@import 'themes/calendar_transparent.css';
@import 'themes/calendar_white.css';
@import '~font-awesome/css/font-awesome.css';
@import "http://www.yoursite.com/fonts/Avenir_Next.otf";

html, body { height: 100%;
  font-family:"Avenir Next LT Pro";}


