.main{
  background-image: url(src/assets/coimbra.jpg);
  height: 750px;
  width: 100%;
  margin :0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
*{
  font-family: 'Avenir Next LT Pro';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('/src/app/Fonts/webfontkit-20210308-103029/transfonter.org-20210318-141210/transfonter.org-20210318-141210/AvenirNextLTPro-Light.woff2') format('woff2'),
  url('/src/app/Fonts/webfontkit-20210308-103029/transfonter.org-20210318-141210/transfonter.org-20210318-141210/AvenirNextLTPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


#contwhite {
  background: rgba(255, 255, 255, 0.658);
  font-family: 'AvenirNextLTPro';
  height: 585px;
  width: 700px;
  margin-right: 40px;
  margin-top: -5px;

}

#contgreen {
  margin-left: 55px;
  margin-top: -25px;
}

#login {
  background-color: #178da9;
  height: 510px;
  width: 170px;
  text-align: center;
  margin-right: -50px;
  z-index: 1;
  margin-left: 110px;
  margin-top: -15px;
}


#signup {
  background-color: #178da9;
  margin-top: -100px;
  font-family: 'AvenirNextLTPro';
}
.db p{
  text-align: center;
  color: black;
  font-size: 15px;
  margin-top: -10px;
  position: absolute;
  margin-left: -200px;

}
.bor{
  border-radius: 6px;
  opacity: 75%;
}
a{
  text-decoration: none;
  cursor: pointer;
}



.sbd{
  margin-left: -20px;
  margin-top: 75px;
  position: absolute;
}
.dbd{
  margin-left: 200px;
  position: absolute;
  margin-top: 75px;


}
.BS{
  background-color: #178da9;
  position: absolute;
  margin-left: -110px;
  margin-top: 135px;
  font-size: 13px;
  border-radius: 6px;
}
.NS{
  background-color: #178da9;
  position: absolute;
  margin-top: 135px;
  margin-left: 300px;
  font-size: 13px;
  border-radius: 6px;
}




.bt{
  margin-top: 315px;
  margin-left: 20px;
}
.bt p{
  margin-left: -15px;
  margin-top: -25px;
}
.wrapper{
  height: 100px;
  width: 100px;
  position: relative;
  border: 1px solid;
  border-radius: 50%;
  background-image: url('src/assets/Logo.png');
  background-size: 100% 100%;
  overflow: hidden;
  align-items: center;
  margin-left: 35px;
  margin-top: 10px;
}
.file{
  position: absolute;
  bottom: 0;
  outline: none;
  color: transparent;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.5s;
  left: opx;
  font-size: 10px;

}
.file::-webkit-file-upload-button{
  visibility: hidden;
}
#contp{
  margin-left: 145px;
}




@media (max-width: 580px){

  #login{
    position: absolute;
    width: 100px;
    left: -90px;

  }
  .pa{
    position: relative;
    top: 5px;
  }

  #contwhite{
    width: 700px;
    margin-left: -50px;
  }
  .BS{
    margin-left: -100px;
    margin-top: 100px;
  }
  .NS{
    margin-left: 5px;
    margin-top: 100px;
  }
  .db p{
    margin-left: -150px;
    font-size: 5px;
  }
  .sbd{
    margin-left: -140px;
    margin-top: 100px;
  }
  .dbd{
    margin-left: 20px;
    margin-right: -50px;
    margin-top: 100px;
  }
  .bt{
    margin-left: -100px;
    margin-top: 350px;
  }
  .hh{
    position: relative;
    right: 75px;
  }
  .wrapper{
    margin-left: 12px;
    width: 75%;
    height: 75px;
  }



}
